$border: 2px solid rgba($color: white, $alpha: 0.35);
$size1: 6px;
$size2: 12px;
$size3: 18px;
$size4: 24px;
$size5: 48px;
$backgroundColor: #17181a;
$textColor: white;
$primaryColor: #89babf;
$primaryhoverColor: #5a9198;
$secondTextColor: #1f2023;

body {
  margin: 0;
  padding: 40px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $backgroundColor;
  color: $textColor;
}


.panel-container {
  display: flex;
  justify-content: center; /* Center horizontally */
}

.left-panel, .right-panel, .center-panel {
  padding: 20px;
  border: 1px solid #ccc; /* Optional: Add border for better visualization */
}

.center-panel {
  flex-grow: 1; /* Allow the center panel to grow and fill the available space */
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-panel {
  justify-self: end; /* Align to end (right) of grid cell */
}

.right-panel {
  justify-self: start; /* Align to start (left) of grid cell */
}

.logs-container {
  display: flex;
  justify-content: space-between;
  max-width: calc(100% - 40px); /* Adjusted for padding */
  
}

#app {
  max-width: 1920px;
  max-height: 1920px;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  .panel-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 20px;
    max-width: 1920px;
    height: 720px;
    margin: 0 auto;
  }
  .app-title {
    font-weight: bold;
    font-size: 28px;
    text-align: center;
  }
  .separator {
    border-bottom: 1px solid $primaryColor;
    margin: 20px 0 30px;
  }
  .control-panel {
    top: 70px;
    left: 75px;
    width: 200px;
    padding: 20px;
    justify-self: end;

  .toggle-button {
    background-color: #007bff;
    color: #fff; 
    border: none;
    padding: 10px 20px; 
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    
    width: 150px;
    height: 36px;

    right: -140px;
    top: 80px;

    &:hover {
      background-color: #2179d6
    }
  }
  .delete-button {
    background-color: #922e2e;
    color: #fff; 
    border: none;
    padding: 10px 20px; 
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    
    width: 150px;
    height: 36px;

    right: -140px;
    top: 127px;
      &:hover {
        background-color: #922e2e
      }
    }
    .selected-list {
      background-color: #007bff;
      color: #fff; 
      border: none;
      padding: 10px 20px; 
      cursor: default;
      border-radius: 5px;
      transition: background-color 0.3s ease;

      right: 235px;
      top: 80px;
    }
  }
  .control-panel h2 {
    margin-bottom: 10px;
  }
  .control-panel button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    background-color: $primaryColor;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .control-panel button:hover {
    background-color: $primaryhoverColor;
  }
  .control-panel select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }  
  .logs-container {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    .log-class-list {
      width: 48%;
      .log-form {
        display: flex;
        flex-direction: column;
        width: 100%;
        .form-label {
          font-size: 14px;
          font-weight: bold;
        }
        .form-input,
        .form-button {
          height: $size5;
          box-shadow: none;
          outline: none;
          padding-left: $size2;
          padding-right: $size2;
          border-radius: $size1;
          font-size: 18px;
          margin-top: $size1;
          margin-bottom: $size2;
        }
        .form-input {
          background-color: transparent;
          border: $border;
          color: inherit;
        }
        .form-button {
          cursor: pointer;
          background-color: $primaryColor;
          border: 1px solid $primaryColor;
          color: $secondTextColor;
          font-weight: bold;
          outline: none;
          border-radius: $size1;
        }
      }
      .list-title {
        font-size: 22px;
        border-bottom: $border;
        padding-bottom: $size1;
      }
      .log-list {
        padding: 10px;
        .log-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border: $border;
          padding: $size2 $size4;
          border-radius: $size1;
          margin-bottom: $size2;
          span {
            cursor: pointer;
          }
          .done {
            text-decoration: line-through;
          }
          button {
            cursor: pointer;
            font-size: $size2;
            padding: $size1;
            margin: 2px;
            background-color: $primaryColor;
            border: 1px solid $primaryColor;
            color: $secondTextColor;
            font-weight: bold;
            border-radius: $size1;
          }
        }
      }
      .empty-list {
        text-align: center;
        opacity: 0.5;
        margin: 0;
      }
    }
  }
  .test-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    top: 70px;
    right: 330px; 
    width: 200px;
    padding: 20px;
    .goto-item-button {
      background-color: $primaryColor;
      margin-top: 10px;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 14px;
      width: 150px;
      height: 36px;
    }
    .test-panel h2 {
      margin-bottom: 10px;
    }
  }
}
