/* Variables */
:root {
  --border: 2px solid rgba(255, 255, 255, 0.35);
  --size1: 6px;
  --size2: 12px;
  --size3: 18px;
  --size4: 24px;
  --size5: 48px;
  --backgroundColor: #17181a;
  --textColor: white;
  --primaryColor: #89babf;
  --primaryhoverColor: #5a9198;
  --secondTextColor: #1f2023;
}

/* Body */
body {
  margin: 0;
  padding: 40px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--backgroundColor);
  color: var(--textColor);
}

/* Log Details */
.log-details {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.log-details h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.log-details label {
  display: block;
  margin-bottom: 5px;
}

.log-details select,
.log-details input[type="text"],
.log-details textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

.log-details button {
  padding: 10px 20px;
  margin-bottom: 5px;
  background-color: var(--primaryColor);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
}

.log-details p {
  font-size: 16px;
  color: #888;
}

.log-details .goto-ini-button {
  background-color: var(--primaryColor);
  margin-top: 20px;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}
